.message-input {
    border: none;
}

#new-message {
    border: 1px solid black;
}

#chat-window {
    width: 480px;
    font-size: 14px;
    font-weight:bolder; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px dashed black;
}